.subscription {
  padding: 40px 20px 50px;
  background: #fff;
  margin-bottom: 80px;
}

.subscription__title {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 30px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__form-input {
  background: #F5F5F5;
  border-radius: 20px;
  font-size: 18px;
  line-height: 23px;
  color: #2F222266;
  padding: 13px 0 13px 30px;
  margin-bottom: 21px;
  width: 100%;
  cursor: pointer;
}

.subscription__form-button {
  cursor: pointer;
  background-color: #5D71DD;
  border-radius: 20px;
  padding: 13px 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.subscription__form-button:focus {
  border: 1.5px solid #2F2222
}

.subscription__form-button-text {
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  margin-right: 10px;
}

.subscription__form-button-img {
  width: 20px;
  height: 18px;
}

@media screen and (min-width: 700px) and (max-width: 1179px) {
  .subscription {
    border-radius: 20px;
    width: 95%;
    margin: 0 auto 80px;
  }

  .subscription__content {
    width: 72%;
    margin: 0 auto;
  }

  .subscription__title {
    text-align: left;
    margin-bottom: 20px;
  }

  .subscription__form {
    flex-direction: row;
    justify-content: center;
  }

  .subscription__form-input {
    margin-right: 20px;
  }

  .subscription__form-button {
    padding: 13px 60px;
    width: 52%;
  }
}

@media screen and (min-width: 1180px) {
  .subscription {
    border-radius: 20px;
  }
}